/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rootContainer {
  height: 100vh;
  background: url(./assets/Background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#centerCard {
  height: 550px;
  width: 360px;
  border-radius: 50px;
  background-color: #f2f4f6;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5),
    -1px -1px 30px rgba(0, 0, 0, 0.2);

  padding: 40px;
  transition: transform ease-in-out 0.7s;
}
.headerDiv {
  margin: 20px;
}

.headerDiv p {
  font-weight: bold;
  font-size: 3rem;
  color: #223b5d;
  margin: 0px;
}

.infoText {
  font-size: 1.2rem;
  color: #223b5d;
}

form {
  margin: 10px;
}

input {
  width: 310px;
  height: 40px;
  border-radius: 18px;
  color: #223b5d;
  border: 2px solid #223b5d;
  background-color: #d5e5f5;
  margin: 10px;
  font-size: 20px;
  padding-left: 20px;
}

input::placeholder {
  color: #6973cf;
  font-size: 20px;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px 2px rgba(34, 59, 93, 0.5);
}

#loginBtn {
  border-radius: 22px;
  color: #d5e5f5;
  background-color: #223b5d;
  width: 335px;
  height: 50px;
  margin: 20px 10px;
  font-size: 20px;
  border: 2px solid #223b5d;
  box-sizing: border-box;
}

.signUpText {
  font-size: 1.3rem;
  font-weight: bold;
  color: #223b5d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 60px 40px;
  text-align: center;
}

.signUpText a {
  color: #223b5d;
}

.moveCard {
  transform: translateY(1000px);
}
